# Exercises

## 1) The MickeyMouse problem
- Write a program that prints the numbers from 1 to 100. But for multiples of 3 print Mickey instead of the corresponding number
and for the multiples of 5 print Mouse. For numbers which are multiples of both three and five print MickeyMouse
- Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

#### check function
this function checks whether the number is multiple of 3 or 5 or both.

In [4]:
def check(n):
    t = [(n%3==0),(n%5==0)]
    if (t[0]==0 and t[1]==0):
        return n
    elif (t[0]==1 and t[1]==0):
        return 'Mouse'
    elif (t[0]==0 and t[1]==1):
        return 'Mickey'
    else:
        return 'MickeyMouse'

#### transform function
this function replaces Mickey with Donald and Mouse with Duck.

In [5]:
def transform(i):
    try:
        n = i.replace('Mickey','Donald')
        return n.replace('Mouse','Duck')
    except:
        return i

#### program code

In [6]:
number_list = [check(i) for i in range(1,101,1)]
final_tuple = tuple([transform(i) for i in number_list])
print(final_tuple)

(1, 2, 'Duck', 4, 'Donald', 'Duck', 7, 8, 'Duck', 'Donald', 11, 'Duck', 13, 14, 'DonaldDuck', 16, 17, 'Duck', 19, 'Donald', 'Duck', 22, 23, 'Duck', 'Donald', 26, 'Duck', 28, 29, 'DonaldDuck', 31, 32, 'Duck', 34, 'Donald', 'Duck', 37, 38, 'Duck', 'Donald', 41, 'Duck', 43, 44, 'DonaldDuck', 46, 47, 'Duck', 49, 'Donald', 'Duck', 52, 53, 'Duck', 'Donald', 56, 'Duck', 58, 59, 'DonaldDuck', 61, 62, 'Duck', 64, 'Donald', 'Duck', 67, 68, 'Duck', 'Donald', 71, 'Duck', 73, 74, 'DonaldDuck', 76, 77, 'Duck', 79, 'Donald', 'Duck', 82, 83, 'Duck', 'Donald', 86, 'Duck', 88, 89, 'DonaldDuck', 91, 92, 'Duck', 94, 'Donald', 'Duck', 97, 98, 'Duck', 'Donald')

## 2) The Swap Function
Write a function that swaps the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable.

#### defining two variables a and b

In [7]:
a = 1
b = 2.3

#### defining the swap function

In [8]:
def swapfun(x, y):
    global a, b
    a = y
    b = x

#### program code

In [9]:
print("before:",a,b)
swapfun(a, b)
print("after:",a,b)

before: 1 2.3
after: 2.3 1

## 3) Computing the Distance
Write a function that calculates and returns the euclidean distance between two points u and v, where u and v are both 2-tuples (x,y).

In [10]:
def EuclideanDistance(u, v):
    try:
        d = ((u[0]-v[0])**2 + (u[1]-v[1])**2)**0.5
        return d
    except:
        print("TypeError: u and v must be both 2-tuples (x,y).")
        return 1

#### Testing the function:

In [11]:
print(EuclideanDistance((3,0),(0,4)))

5.0

## 4) Counting letters
Write a program to calculate the number of times each character occurs in a given string s. Ignore differneces in capitalization.

In [12]:
def CharCount(in_str):
    freqs = {}
    for char in in_str:
        lchar = char.lower()
        if lchar not in freqs:
            freqs[lchar] = 0
        freqs[lchar] += 1
    return freqs

#### Testing the function:

In [13]:
print(CharCount("Lorem ipsum dolor sit amet"))

{'l': 2, 'o': 3, 'r': 2, 'e': 2, 'm': 3, ' ': 4, 'i': 2, 'p': 1, 's': 2, 'u': 1, 'd': 1, 't': 2, 'a': 1}

## 5) Isolating the unique
Write a function that determines and count the unique numbers in the list l

List l is:

In [14]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Function that calculates the unique numbers:

In [15]:
def UniqueNumbers(in_l):
    n_freq = {}
    uniques = in_l
    for i in in_l:
        if i not in n_freq:
            n_freq[i] = 0
        else:
            uniques.remove(i)
            n_freq[i] += 1
    return [uniques,len(uniques)]

Testing the function

In [16]:
list_of_uniques, n_of_uniques = UniqueNumbers(l)
for i in list_of_uniques:
    print(i)
print("There are %4d unique numbers in the list."%(n_of_uniques))

36
58
74
96
64
31
10
24
19
33
86
99
18
63
63
47
70
88
55
54
8
56
79
81
57
37
1
84
84
36
9
89
42
91
50
95
90
98
39
16
82
31
92
41
45
30
66
70
85
94
5
3
36
72
91
84
34
87
75
53
51
20
89
51
20
There are   65 unique numbers in the list.

## 6) Combination of functions
Write two functions - one that returns the square of a number, and one that returns the cube.
Now write a third function that returns the number raised to the 6th power using the two previous functions.

#### First mode uses lambda functions

In [17]:
f = lambda x, n : x**n
g = lambda x : f(f(x, 2),3)

testing:

In [18]:
g(2)

64

#### Second mode uses conventional functions

In [19]:
def f0(n):
    return n**2
def f1(n):
    return n**3
def g0(n):
    return f1(f0(n))

testing:

In [20]:
g0(2)

64

## 7) Cubes
Create a list of the cubes of x for x in [0, 10] using:
- a for loop
- a list comprehension

For loop:

In [21]:
list_of_cubes_0 = []
for x in range(0,10):
    list_of_cubes_0.append(x**3)

List comprehension:

In [23]:
list_of_cubes_1 = [x**3 for x in range(0,10)]

In [24]:
print(list_of_cubes_0)
print(list_of_cubes_1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

## 8) Nested list comprehension
A Pythagorean triple is an integer solution to the Pythagorean theorem.
The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

Function to calculate the permutations of a tuple:

In [25]:
def rotate(l, n):
    return l[n:] + l[:n]

Function that determines the representative of a permutation's equivalence class:

In [26]:
def perm(in_tuple):
    # calculates all the permutations
    perms = [rotate(in_tuple, x) for x in range(0,len(in_tuple),1)]
    # then i should return the 'fundamental' that I decide to be the one with the smallest number first
    # the fundamental it is checked if it's already in the 'triples'
    perms.sort()
    return perms[0]

Main code: calculating all the triples.

In [27]:
triples = [(x,y,z) for x in range(1,100) for y in range(1,100) for z in range(1,100) if (x**2+y**2==z**2)]

Filtering out the non unique ones.

In [28]:
unique_triples = [triple for triple in triples if perm(triple) not in triples]

Printing the triples:

In [30]:
print(triples)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]

Printing the filtered triples:

In [31]:
print(unique_triples)

[(4, 3, 5), (8, 6, 10), (12, 5, 13), (12, 9, 15), (15, 8, 17), (16, 12, 20), (20, 15, 25), (21, 20, 29), (24, 7, 25), (24, 10, 26), (24, 18, 30), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41), (40, 30, 50), (42, 40, 58), (44, 33, 55), (45, 24, 51), (45, 28, 53), (48, 14, 50), (48, 20, 52), (48, 36, 60), (52, 39, 65), (55, 48, 73), (56, 33, 65), (56, 42, 70), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (63, 16, 65), (63, 60, 87), (64, 48, 80), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]

## 9) Normalization
Write a function that takes a tuple of numbers and returns it with the entries normalized to one.

In [32]:
def TupleNorm(in_tuple):
    try:
        s = sum([x**2 for x in in_tuple])**0.5
        norm = [x/s for x in in_tuple]
        return tuple(norm)
    except:
        print("TypeError: input must be a valid n-tuple.")
        return 1

Example:

In [33]:
print(TupleNorm((1,2,3,4,5)))

(0.13483997249264842, 0.26967994498529685, 0.40451991747794525, 0.5393598899705937, 0.674199862463242)